name: "Daily/Trigger: Remove Stale Branches & PRs"

on:
  schedule:
    - cron: "0 0 * * *" # 12am UTC daily (6pm/7pm CT)
  workflow_dispatch:

jobs:
  remove-stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          close-pr-message: 'This PR was closed because it has been stale for 7 days.'
          days-before-close: 7
          days-before-issue-close: -1
          days-before-issue-stale: -1
          days-before-stale: 60
          delete-branch: true
          exempt-pr-labels: 'dependencies'
          operations-per-run: 75
          stale-pr-label: 'stale'
          stale-pr-message: 'This PR is marked as stale because it has been open for 60 days with no activity.'

      - uses: fpicalausa/remove-stale-branches@v2.1.0
        with:
          days-before-branch-delete: 7
          days-before-branch-stale: 90
          exempt-authors-regex: "^(dependa|renovate)"
          operations-per-run: 75
          stale-branch-message: 'This branch is marked as stale because it has had no activity in 90 days. Delete the comment or add new commits to avoid the branch being deleted in 7 days.'
